<section id="bio">
  <header><h1>Hi, I'm Christine.</h1></header>
  <article>
    <p>And I'm a biomedical engineer turned web developer. Does that sound odd? Maybe.</p>
    <p>Long story short...</p>
    <p>I earned my bachelor's degree in biomedical engineering at the University of Virginia ("Go, Hoos"). While studying kidney transplant rejection as a researcher at Weill Cornell Medical College, I earned my biomedical engineering master's degree at the Polytechnic Institute of New York University.</p>
    <p>...Then I took a detour. My husband began working as an iOS developer and I envied him. The enjoyment he felt from problem-solving and coding is what inspired me to consider web development as a new career. So, I decided to participate in General Assembly's Web Development Immersive program where I fell in love with coding and building web apps using Ruby on Rails and JavaScript.</p>
    <p>Ta-da!</p>
  </article>
</section>