<div id="bio">
  <h3>Hi, I'm Christine.</h3>
  <p>And I'm a biomedical engineer/scientist-turned-web developer. Does that sound odd? Maybe.</p>
  <p>Long story short...</p>
  <p>I grew up in Long Island, earned my bachelor's degree in biomedical engineering at the University of Virginia ("Wahoowa!"), and returned to New York to work as a researcher at Weill Cornell Medical College. I spent 5.5 years researching kidney transplantation there while simultaneously working towards my master's degree (also in biomedical engineering) at the Polytechnic Institute of New York University.</p>
  <p>...Then I took a detour. I decided to participate in General Assembly's Web Development Immersive program where I fell in love with coding and building web apps using Ruby on Rails and JavaScript. Ta-da!</p>
</div>