<div id="projects">
  <div class="project" id="project-1">
    <div class="project-description">
      <h3>
        Gift Savers
      </h3>
      <p>
        Imagine you encounter a product that would make an absolutely perfect gift for someone you know, but their birthday is too far ahead in the future for you to purchase the product. Now think of how easily you forget about the product when that someone's birthday draws near.
      </p>
      <p>
        With Gift Savers, you can keep track of potential gift recipients and gift ideas with ease!
      </p>
      <p>
        Built with Ruby on Rails and Amazon Web Services.
      </p>
      <a href="http://pure-temple-5270.herokuapp.com/">
        Gift Savers
      </a></br>
      <a href="">
        Code on Github
      </a>
    </div>
  </div>

  <div class="project" id="project-2">
    <div class="project-description">
      <h3>
        Solar Eyes
      </h3>
      <h5>Created in collaboration with Nick Lombardi.</h5>
      <p>
        Solar Eyes
      </p>
      <p>
        Created in collaboration with Nick Lombardi.
      </p>
      <p>
        Built with Ruby on Rails, Javascript, JQuery, AJAX, D3, amMaps, and YahooFinance.
      </p>
      <a href="http://www.solarey.es/">
        Solar Eyes
      </a></br>
      <a href="">
        Code on Github
      </a>
    </div>
  </div>

  <div class="project" id="project-3">
    <div class="project-description">
      <h3>
        Project 3
      </h3>
      <p>
        Coming Soon!
      </p>
      <p>
        Created in collaboration with Nick Lombardi.
      </p>
      <a href="">
        Live site coming soon!
      </a></br>
      <a href="">
        Code on Github
      </a>
    </div>
  </div>
</div>