<div id="contact">
  <h4>I'm available for hire!</h4>
  <p>I'm currently seeking full-time employment as a junior full stack Ruby on Rails developer. Companies in the NYC area that care about developing new talent are of particular interest to me.</p>
  <p>If you'd like to discuss potential job opportunities, or to simply chat, please email me.</p>
  <a href="mailto:christinetcoulter@gmail.com?Subject=Hello">
    <%= image_tag "Envelope.png", alt: "Email" %>
  </a>
</div>