<div id="contact">
  <h3>718.406.1253</h3>
  <h3>ChristineTCoulter@gmail.com</h3>
  <h3><a href="https://twitter.com/XineCoulter" target="_blank">@XineCoulter</a></h3>
  <h3><a href="https://github.com/xinecoulter" target="_blank">GitHub</a></h3>
  <h3><a href="http://www.linkedin.com/in/christinecoulter" target="_blank">LinkedIn</a></h3>
</div>