/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("2012-04-22 NYC Reflection-X2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("2012-04-22 NYC Reflection-X2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#name {
  text-align: center;
  margin-top: 2%;
  font-size: 4.285714em; /*60px / 14px*/
  color: #7C9CDC;
  font-family: arial;
}

#tagline {
  text-align: center;
  margin-bottom: 1%;
  font-size: 2.142857em; /*30px / 14px*/
  color: #7C9CDC;
  font-family: baskerville;
}

/*-----------------------styling for nav and footer-----------------------*/

nav {
  font-size: 1.285714em; /*18px / 14px*/
}

nav,
footer {
  width: 100%;
}

nav ul,
footer ul {
  list-style-type: none;
  text-align: center;
}

nav li,
footer li {
  display: inline;
}

nav a,
footer a {
  margin: 2.5%;
}

nav a {
  font-family: arial;
}

nav a:link {
  color: #CD5120;
}

nav a:visited {
  color: #CD5120;
}

nav a:hover,
nav a:focus,
footer a:hover,
footer a:focus {
  color: #24275E;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.8;
}

/*-----------------------transitions for links/images and styling for all images-----------------------*/

nav a,
footer img,
#contact img, {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a img:hover {
  opacity: 0.4;
}

/*-----------------------styling for bio in welcome-----------------------*/

#bio {
  position: relative;
  width: 41%;
  margin: 0 auto;
  top: 5%;
  bottom: 5%;
  background-color: white;
  opacity: 0.9;
  border-radius: 3px;
  text-align: justify;
  padding: 1.071428em; /*15px / 14px*/
  color: #666666;
  font-size: 1.214285em; /*17px / 14px*/
  font-family: baskerville;
}

#bio:hover {
  opacity: 1;
}

#bio h1 {
  text-align: left;
  font-size: 1.571428em; /*22px / 14px*/
  font-family: arial;
}

/*-----------------------styling for contact-----------------------*/

#contact {
  position: relative;
  width: 41%;
  margin: 0 auto;
  top: 5%;
  bottom: 5%;
  background-color: white;
  opacity: 0.9;
  border-radius: 3px;
  text-align: justify;
  padding: 1.071428em; /*15px / 14px*/
  color: #666666;
  font-size: 1.214285em; /*17px / 14px*/
  font-family: baskerville;
}

#contact:hover {
  opacity: 1;
}

#contact h1 {
  text-align: left;
  font-size: 1.571428em; /*22px / 14px*/
  font-family: arial;
}

#contact img {
  min-width: 5%;
  height: auto;
}

#contact article p:last-child {
  text-align: center;
}

/*-----------------------styling for resume-----------------------*/

/*#outside-resume {
  width: 100%;
  height: 100%;
}*/

#resume {
  width: 50%;
  height: auto;
  padding: 2.75% 0 7% 0;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*-----------------------styling for projects-----------------------*/

#container{
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.outer {
  float: left;
  width: 30.333333%;
  height: 80%;
  margin: 0 1.5% 0 1.5%;
  background-color: white;
  opacity: 0.9;
  border-radius: 3px;
}

.outer:hover {
  opacity: 1;
}

.project {
  padding: 1.071428em; /*15px / 14px*/
  color: #666666;
  font-family: baskerville;
}

.project h1 {
  text-align: left;
  font-size: 1.571428em; /*22px / 14px*/
  font-family: arial;
}

.project h2 {
  text-align: left;
  font-size: 1.428571em; /*20px / 14px*/
}

.project p {
  text-align: justify;
  font-size: 1.214285em; /*17px / 14px*/
}

.project img {
  margin-bottom: 5%;
}

.project:last-child {
  text-align: center;
}

.github-round-icon img {
  width: 8%;
  height: auto;
}