/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html {
  height: 100%;
}

body {
/*  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  margin-bottom: 10%;*/
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-image: url("2012-04-22 NYC Reflection.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  background-image: -ms-radial-gradient(center top, circle farthest-side, #73B7EB 0%, #3277BA 90%);
  background-image: -moz-radial-gradient(center top, circle farthest-side, #73B7EB 0%, #3277BA 90%);
  background-image: -o-radial-gradient(center top, circle farthest-side, #73B7EB 0%, #3277BA 90%);
  background-image: -webkit-gradient(radial, center top, 0, center top, 485, color-stop(0, #73B7EB), color-stop(.9, #3277BA));
  background-image: -webkit-radial-gradient(center top, circle farthest-side, #73B7EB 0%, #3277BA 90%);
  background-image: radial-gradient(circle farthest-side at center top, #73B7EB 0%, #3277BA 90%);*/
}

h1 {
  text-align: center;
}

#navbar {
  text-align: center;
}

#bio {
  position: relative;
  width: 50%;
  margin: 0 auto;
  top: 20%;

  background-color: white;
  opacity: 0.8;

  border-style: solid;
  border-radius: 3px;
  border-width: 1px;

  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
}

#contact {
  width: 20%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  position: absolute;
  right: 3%;
  top: 0;
}

#footer {
  width: 100%;
  height: 7%;
  position: fixed;
  bottom: 0;
  left: 0;

  background-color: white;
  opacity: 0.8;

  border: solid;
  border-width: 1px;
}

#social-media {
  height: 100%;
  width: 100%;
  position: absolute;

  text-align: center;
}

#social-media div {
  /*position: absolute;*/
  display: inline-block;
  padding: 0.5%;
}

#social-media div:hover {
  opacity: 0.4;
}

#email {
  width: 40%;
  height: 100%;
  position: absolute;
  text-align: right;
  right: 2%;
}

#email a {
  display: inline-block;
  padding: 2.5%;
}

#resume {
  width: 60%;
  height: auto;

  position: relative;
  top: 5%;

  display: block;
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-width: 10px;
}




