/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html {
  height: 100%;
}

body {
  /*display: none;*/
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

#navbar {
  text-align: center;
}

#bio {
  position: relative;
  width: 50%;
  margin: 0 auto;
  top: 20%;

  border-style: solid;
  border-radius: 3px;
  border-width: 1px;

  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#contact {
  width: 20%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  position: absolute;
  right: 3%;
  top: 0;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;

  border: solid;
  border-width: 1px;
}

#social-media {
  text-align: center;
  position: relative;
  padding: 0.5%;
}

#social-media a {
  padding: 0.5%;
}

#resume {
  width: 60%;
  height: auto;

  position: relative;
  top: 5%;

  display: block;
  margin-left: auto;
  margin-right: auto;

  border-style: solid;
  border-width: 10px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}




