<div id="footer">
  <div id="social-media">
    <div id="twitter">
      <a href="https://twitter.com/XineCoulter" target="_blank"><%= image_tag "twitter.png", alt: "Twitter" %></a>
    </div>
    <div id="github">
      <a href="https://github.com/xinecoulter" target="_blank"><%= image_tag "github.png", alt: "GitHub" %></a>
    </div>
    <div id="linkedin">
      <a href="http://www.linkedin.com/in/christinecoulter" target="_blank"><%= image_tag "linkedin.png", alt: "LinkedIn" %></a>
    </div>
  </div>
  <div id="email">
      <a href="mailto:christinetcoulter@gmail.com?Subject=Hello">
        <%= image_tag "Envelope.png", alt: "Email" %> Email Christine!
      </a>
  </div>
</div>