<div id="navbar">
  <a href="/">Home</a> |
  <a href="/projects">Projects</a> |
  <a href="http://xinecoulter.tumblr.com/" target="_blank">Blog</a> |
  <a href="/resume">Resume</a> |
  <a href="/about">About</a>
</div>