<nav class="col-md-12">
  <ul>
    <li><a href="/" class="portfolio-link">Home</a></li>
    <li><a href="/projects" class="portfolio-link">Projects</a></li>
    <li><a href="http://xinecoulter.tumblr.com/about" target="_blank">Blog</a></li>
    <li><a href="/resume" class="portfolio-link">Resume</a></li>
    <li><a href="/contact" class="portfolio-link">Contact</a></li>
  </ul>
</nav>