<div id="navbar">
  <a href="/" class="portfolio-link">Home</a>
  <a href="/projects" class="portfolio-link">Projects</a>
  <a href="http://xinecoulter.tumblr.com/about" target="_blank">Blog</a>
  <a href="/resume" class="portfolio-link">Resume</a>
</div>